---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div><h2> Graduate student instructor </h2></div>
<hr style="border-color:gray;">
{% for post in site.teaching reversed %}
  {% if post.role == 'Graduate Student Instructor' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<div><h2> Teaching assistant </h2></div>
<hr style="border-color:gray;">
{% for post in site.teaching reversed %}
  {% if post.role == 'Teaching Assistant' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
